.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .navbar-logo{
    width: 150px;
    
}
.navbar-menu{
    display: flex;
    list-style: none;
    color: #49557e;
    gap: 20px;

}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
}