@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
}
body{
  min-height: 100vh;

}
a{
  text-decoration: none;
  color: inherit;
  
}
.app{
  width: 90%;
  margin: auto;
}
@keyframes fadeIn {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
  
}